<!DOCTYPE html>
<html lang="en">
<head>
<title> Gamers Website</title>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
<link rel="icon" href="./tmp/img/icon.png" type="image/png" size="16x16">
<link rel="stylesheet" type="text/css" href="./css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



</head>

<body>
<!-- START BODY-->
</br>
<div class="container-fluid">	
<div class="row">
<div class="col-md-5"><a href="./index.html"><img src="./tmp/img/logo2.png" width="100" height="100"/></a></div>
<div class="col-md-7">

<form class="form-inline" role="form">
  <div class="form-group">
    <label for="email">Username:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
<div class="regrec" align="right"><a href="#reg">Register</a> | <a href="#rec">Recover</a></div>

</div>

</div>  <!-- End div ROW HEADER -->

</br>
</br>
</br>
</br>
</br>
<div class="margine">
<div class="row"> <!-- Start Div ROW Content -->

<div class="col-md-7">

<h3> Connect with Gamers around the world. </h3>
<h4>
1. Create an account, its free!</br>
</br>
2. Log in</br>
</br>
3. Play!</br>
</br>
</h4>
</div>


<div class="col-md-5">
<h3 id="reg">Not a member? Join us!</h3>

<div ng-app="firstPageModule" ng-controller="firstPageController">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" ng-model="email" class="form-control" id="email" name="uEmail" required=""> 
    <div ng-show="form.$submitted || form.uEmail.$touched">
      <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
      <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
    </div>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" ng-model="password" class="form-control" id="pwd">
  </div>
  
  <div class="form-group">
    <label for="pwd">Retype Password:</label>
    <input type="password" ng-model="repassword" class="form-control" id="pwd">
  </div>
 
  <button type="submit" ng-click="registerUser()" class="btn btn-primary">Register</button>



</div> <!-- END DIV REGISTER -->

</div> <!-- End div Row Content -->
</div>
</div>
</br>
</br>
</br>
</br>
</br>

<div align="center">
&copy; Gamers Website 2015
</div>













</div> <!-- End div container -->

<!-- END BODY-->	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Read the Docs: https://json.northpole.ro/index -->
<script src="https://json.northpole.ro/javascripts/jnorthpole.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="script.js"></script>
<script type="text/javascript">
        
</script>	
</body>
</html>
