<!DOCTYPE html>
<html lang="en" ng-app="firstPageModule">
<head>
<title> Gamers Connected</title>
<meta name="keywords" content="gamers, connected, games, fps, mmorpg">
<meta name="Author" content="tecknoworks.github.io">
<meta name="description" content="Gamers Connected brings gamers around the world in one place, to steam, watch, and play together.">
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
<link rel="icon" href="./tmp/img/icon.png" type="image/png" size="16x16">
<link rel="stylesheet" type="text/css" href="./css/style.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



<script>
    


</script>

</head>

<body ng-controller="firstPageController" data-ng-init="init()">
<!-- START BODY-->
</br>
<div class="container-fluid">	
<div class="row">
<div class="col-md-5"><a href="./index.html"><img src="http://i61.tinypic.com/bi6ycg.png" width="130" height="130"/></a></div>
<div class="col-md-7">

<form name="form" ng-submit="loginUser()" class="form-inline" role="form" >
  <div class="form-group">
    <label for="email">Username:</label>
    <input type="text" placeholder="Username" ng-model="usernameLogin" class="form-control" id="username" name="username" required>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" placeholder="Password"  ng-model="passwordLogin" class="form-control" id="pwd" name="pass" required>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember</label>
  </div>
  <button type="submit" value="Login" class="btn btn-primary">Login</button>

</form>
<div class="regrec" align="right"><a href="#reg">Register</a> | <a href="#rec">Recover</a></div>

</div>

</div>  <!-- End div ROW HEADER -->
</br>
<hr style="border: 1px solid #FAE050 ;" />
</br>


<div class="margine">
<div class="row"> <!-- Start Div ROW Content -->

<div class="col-md-7">

<h3> Connect with Gamers around the world. </h3>
<h4>
1. Create an account, its free!</br>
</br>
2. Log in</br>
</br>
3. Play!</br>
</br>
</h4>
</div>


<div class="col-md-5">
<h3 id="reg">Not a member? Join us!</h3>

<div>
  <div class="form-group">
    <label for="email">Username:</label>
    <input type="text"  placeholder="Username" ng-model="username" class="form-control" id="username" name="username" required> 
    
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password"  placeholder="Password" ng-model="password" class="form-control" id="pwd" required>
  </div>
  
  <div class="form-group">
    <label for="pwd">Retype Password:</label>
    <input type="password" placeholder="Password" ng-model="repassword" class="form-control" id="pwd" required>
  </div>
 
  <button type="submit" onClick="" ng-click="registerUser()" class="btn btn-primary">Register</button>



</div> <!-- END DIV REGISTER -->

</div> <!-- End div Row Content -->
</div>
</div>
</br>
</br>
</br>
</br>
</br>

<div align="center">
&copy; Gamers Connected 2015
</div>













</div> <!-- End div container -->

<!-- END BODY-->	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Read the Docs: https://json.northpole.ro/index -->
<script src="https://json.northpole.ro/javascripts/jnorthpole.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="script.js"></script>
<script type="text/javascript"></script>
</script>



</body>
</html>
