<div class="container home-wall-of-text">
  <h1>AST Water Systems</h1>
    <p>
        The ease with which water flows through our taps understates the incredible efforts required by the industry to provide us with clear, fresh water whenever
        we need. As the world industrialized, whenever we needed more water, the solutions seemed clear-cut. But drilling ever deeper wells, extracting ever more
        water from rivers and lakes, and ever larger desalination plants are simply not viable solutions today. Aquifers will continue to decline, rivers only have
        a finite capacity, and desalination plants have their own substantial ecological footprint.
    </p>
    <p>
        Globally, the water industry now faces significant challenges in sourcing water with quick solutions a thing of the past. Demand for clean and potable
        water has now reached unprecedented levels, with UNESCO forecasting a <strong>40%</strong> shortfall in potable water by 2030 based on current trends with
        4 billion people living in highly water stressed areas. This includes significant percentages of the developed world with perhaps three quarters of the
        world's GDP under severe pressure.
    </p>
    <p>
        The old solutions will no longer work to combat this significant shortfall. The solution lies in turning what was once considered a liability, into the
        most valuable water resource we have - <strong>Wastewater Reclamation</strong>. To meet this significant need, <strong>Datatecnics AST</strong> have
        developed <strong>System 10</strong>, the world's most advanced, autonomous Nano Water Processing System.
    </p>
    <p>
        Unlike most of our competitors, our technology will process wastewater without the use of chemicals or membranes, achieving this with comparably little
        energy while eliminating dangerous waterborne viruses and bacteria to deliver healthy, balanced water that meets or exceeds World Health Organization
        standards.
    </p>
</div>
