<div class="container home-wall-of-text">
    <h2>Careers</h2>
    <p>
        Datatecnics is based in the region which formed the global hub to the Industrial Revolution of the 1800s. On the renowned Calthorpe Estate, we are now
        helping give rise to the next revolution: The Industrial Internet of Things (IIoT). By developing first-in-class technologies to create new fields, in new
        markets, we are innovators and disruptors of fields - not people who do things in half measures.
        <br />
        <br />
        We believe in excellence in every aspect of our work to deliver significant operational gains for our clients. For this we need exceptional people; people
        who not only think critically and independently, but people who work incredibly hard to ensure the highest standards for clients.
        <br />
        <br />
        We strongly believe in having diversity of perspective. This is not about legal requirements for us but is at the core of what makes us who we are. No
        matter your race, gender, religious orientation, disability or beyond, we want Datatecnics to be an inclusive and welcoming place of work.
    </p>
    <h3>
        <span class="accent">Available Positions</span>
    </h3>
    <p>
        <br />
        Datatecnics Corporation is a rapidly growing, publicly-listed smart infrastructure company. We are always looking for extremely talented individuals to
        join our team. If you are looking for a regular nine-to-five job, then we are not for you. If you are motivated to help create a truly world class
        business, to test and challenge yourself continually, to use your experience as a platform to grow and not a crutch, and to help make the world a better
        place, then we would love to hear from you.
        <br />
        <br />
        We are looking to employ the following experts on a rolling basis*:
    </p>
    <ul type="disc">
        <li>
            Scientists in natural resource and energy industries
        </li>
        <li>
            Engineers (mechanical, chemical, electrical, geotechnical)
        </li>
        <li>
            Software design and engineers
        </li>
        <li>
            R&amp;D Directors in the following fields:
        </li>
        <ul type="circle">
            <li>
                Cyber Security
            </li>
            <li>
                Ethical Hacking
            </li>
            <li>
                Security Architecture
            </li>
            <li>
                IT Security
            </li>
        </ul>
        <li>
            Sales and Marketing Officers:
        </li>
        <ul type="circle">
            <li>
                Public Relations Co-ordinators
            </li>
            <li>
                Sales Executives
            </li>
            <li>
                Marketing Director
            </li>
        </ul>
        <li>
            Financial Officers:
        </li>
        <ul type="circle">
            <li>
                Accountants
            </li>
            <li>
                Public Market Analysts
            </li>
        </ul>
        <li>
            Administrative
        </li>
        <ul type="circle">
            <li>
                Personal Assistants for Directors
            </li>
            <li>
                Receptionists
            </li>
            <li>
                General Administrators
            </li>
        </ul>
    </ul>
    <p>
        If you are interested in joining our rapidly expanding business please email us with your most up-to-date CV at: <a href="mailto:careers@datatecnics.com"><strong>careers@datatecnics.com</strong></a>
        <br />
        <br />
        * Please note that this list is not exhaustive. If your subject domain is outside of our list, but you have demonstrable evidence of outstanding
        performance in your domain and know how you can help Datatecnics, get in touch.
    </p>
</div>
