<div class="container home-wall-of-text">
  <h2>CIPPS&trade; EX100</h2>
    <p>
        <strong>CIPPS&trade; EX100</strong>
        is our product designed to provide pipeline integrity assurance to the energy sector. Using revolutionary new smart materials, nanotechnology, and
        intelligent flexible electronics, it will provide to the industry the very first product truly capable of monitoring pipeline integrity in real time. This
        will enable pipeline operators to severely reduce the threat of spills, leaks, and expensive down-time-heavily increasing the resiliency levels of our
        clients no matter the challenges they face.
    </p>
    <p>
        Pipeline operators face a constant struggle between maintaining throughput or overhauling the network to make it fit for purpose. This has a real,
        measurable impact on the bottom line and can lead to overloaded pipes in drastic need of repair being pushed beyond their capabilities. Up until now, this
        has been an understandable consequence of a lack of real-time data and analytics.
    </p>
    <p>
        Our award-winning <strong>CIPPS&trade; EX100</strong> is a true game-changer for pipeline operators across the world. Instead of making educated guesses as to
        the state of their pipelines, our system provides the answer in real time 24/7.
    </p>
    <h3>
        <span class="accent">Capabilities</span>
    </h3>
    <p>
        <strong>CIPPS&trade; EX100</strong>
        reduces OpEx through lowering intrusive 'In-Line-Inspections' as it can continually monitor wall thickness and pipe coating measurements without downtime.
        It can accurately assess both internal and external corrosion sources with integrated cathodic protection-a $1 trillion problem without a satisfactory
        solution until now. Furthermore, <strong>CIPPS&trade; EX100</strong> can easily provide operators with immediate NDT equivalent information at request. All in a
        package that uses integrated low power sensors that intelligently send only the information needed to operators to make the decisions that need to be made.
    </p>
    <p>
        The benefits are considerable: a week of lower downtime per quarter, and an increase in throughput by 8%, but this is just the beginning.    <strong>CIPPS&trade; EX100</strong> is designed to work in harmony with its surroundings. Preventing spills and detecting any that occur, and helping our
        stakeholders maintain the pristine ecology of even the most environmentally sensitive of sites.
    </p>
    <p>
        More important than reducing fines and legal bills, it can once again make pipelines viable in developed economies, turning once adversaries into the
        strongest allies to create jobs and continue to provide the vital trunk routes of our global economy.
    </p>
    <h3>
        <span class="accent">
            Operations
        </span>
    </h3>
    <p>
        <strong>CIPPS&trade; EX100</strong>
        uses a cutting-edge package of tailored nano-sensors combined with intelligent software, reducing cognitive load and maximizing the incredible computing
        power that our use of flexible electronics offer.
    </p>
    <p>
        Traditional software systems have relied on a passive-active relationship. This dated concept relied on passive sensors providing raw data to human
        operators to make their best judgement based on what is presented to them. These often complex control rooms have sadly been the site of many of the worst
        disasters that have inflicted the energy industry.
    </p>
    <p>
        No matter how much training employees receive, there is always a fatal flaw in these systems. The greater the complexity of the user interface, the greater
        the difficulty in making the right choice.
    </p>
    <p>
        At Datatecnics, we want our users to focus on executing the right decisions based on having just the right information at the right time. To do this, our
    </p>
    <strong>CIPPS&trade;</strong>
    <p>
        patented technology changes the paradigm into an active-active relationship. Our
    </p>
    <strong>CIPPS&trade;</strong>
    <p>
        technology effectively interfaces with itself to establish status, correct errors, and escalate issues so what our operators are presented with is of
        meaningful benefit.
    </p>
</div>
