<div class="container home-wall-of-text">
    <h2>CIPPS&trade; WX100</h2>
    <p>
        <strong>CIPPS&trade; WX100</strong>
        is the world's first system that through the use of intelligent smart materials and innovative nano sensors and electronics can directly monitor the
        condition of pipelines on a real-time basis. To put it succinctly, it can make pipelines into intelligent self-thinking and self-analyzing systems fit for
        purpose that benefit users throughout the value chain.
    </p>
    <p>
        <strong>CIPPS&trade; WX100</strong>
        is underpinned by the same core technology as the <strong>CIPPS&trade; EX100</strong>. <strong>CIPPS&trade; WX100</strong> will focus on measuring water pipeline
        stress levels at a molecular level, forecasting micro-fractures and using software algorithms to constantly monitor the integrity and resiliency of the
        pipeline throughout its network.
    </p>
    <p>
        It will be able to notify operators immediately of bursts and leaks, enabling rapid reactive maintenance. It will also offer real-time monitoring and
        predictive ability so that targeted, cost-effective, preventative maintenance can be quickly carried out, preventing unnecessary downtime or loss of water
        supply across any region protected by <strong>CIPPS&trade; WX100</strong>.
    </p>
    <h3>
        <span class="accent">Capabilities</span>
    </h3>
    <p>
        <strong>CIPPS&trade; WX100</strong>
        is a completely novel, industry-disruptive product with no true competitors-offering a completely unique proposition.
    </p>
    <ol>
        <li>
            <strong>CIPPS&trade; WX100</strong> removes the human element and notifies operators immediately in the event of a breach.
        </li>
        <li>
            <strong>CIPPS&trade; WX100</strong> offers predictive ability so the pipe can be upgraded even before there is a breach.
        </li>
        <li>
            Operators are fully aware of the level of leaks within system so can budget for maintenance accordingly.
        </li>
        <li>
            <strong>CIPPS&trade; WX100</strong> is fully integrated into pipelines, offering complete protection.
        </li>
        <li>
            <strong>CIPPS&trade; WX100</strong> reduces labor requirements by using integrated automated software and nanotechnology.
        </li>
    </ol>
    <h3>
        <span class="accent">
            Operations
        </span>
    </h3>
    <p>
        IIOT is central to <strong>CIPPS&trade; WX100</strong>. Tens of thousands of sensors sheath and encase our water pipelines delivering real-time, instantaneous
        information to operators no matter their geolocation. Instead of being forced to rely on jury-rigged solutions, water operators using our sophisticated
        software interface know exactly the location of the leak and can react accordingly.
    </p>
    <p>
        Using very low power with autonomous communication, Datatecnics nano-sensors simultaneously provide operators with both rich real-time information and
        prioritize data for the needs of the end user.
    </p>
    <p>
        With many regions losing up to 50% of their water just in distribution, <strong>CIPPS&trade; WX100</strong> has true potential for any prospective operator
        seeking to provide abundant water supplies to their end users.
    </p>
    <h3>
        <strong>Industrial And Commercial Applications</strong>
    </h3>
    <p>
        <strong>CIPPS&trade; WX100</strong>
        has been specifically designed for use by water operators. It will be designed to fit on both new pipes, be retro-fitted cost-effectively wherever needed,
        and be fully functional in both the coldest and hottest environments possible.
    </p>
</div>
