<div class="container home-wall-of-text">
    <h2>Corporate Governance</h2>
    <p>
        The Datatecnics Board is firmly committed to the highest standards of corporate governance and considers that good governance commences with an effective
        Board providing strong and respected leadership.
    </p>
    <p>
        Both Executive and Non-Executive Directors bring their wide experience to the boardroom to support and develop the business strategy and operations.
    </p>
    <p>
        <strong>Code of Conduct</strong>
    </p>
    <p>
        With our Code of Conduct, we provide our employees a guidepost that combines the essential basic principles of our activities and supports our employees in
        mastering the legal and ethical challenges in their daily work. The Code of Conduct constitutes a Group-wide guideline that applies to all of our employees
        and members of executive bodies and for the compliance with which each individual is equally responsible.
    </p>
</div>
