<div class="container home-wall-of-text">
    <h2>CSR</h2>
    <p>
        Datatecnics business is built upon strong ethical values. Central to this tenet is investing back into our communities and environment. Wherever we can, we
        will always investigate methods where our technologies can be tailored for use by NGOs across the world. These bespoke solutions will not only be our way
        of giving back, but will help us gain new perspectives and insight into how to make our products and services better not just for today, but for
        generations to come.
    </p>
</div>
