<div class="container home-wall-of-text">
    <h2>Disruptive Products</h2>
    <p>
        Datatecnics entire product portfolio is built around industry disruption. We are motivated by discovering solutions to the biggest challenges facing
        industry globally. Where others see intractable problems, we see opportunity.
    </p>
    <p>
        We don't think it's acceptable that multi-billion dollar pipelines get cancelled because they don't meet environmental safeguards. We think it is possible
        to safely deliver oil and gas through pipelines and is of vital importance to both international security and the global economy. That's why we are
        developing <strong>CIPPS&trade; EX100</strong>. To keep pipelines viable into the 21<sup>st</sup> century we don't make trade-offs between the economy and the
        environment. That's why Datatecnics Zero-Fail pipeline solutions maximize resiliency and minimize downtime working to prevent oil spills in even the most
        sensitive of ecological environments.
    </p>
    <p>
        We also don't think it's acceptable that anywhere from 20-60% of water in most networks are lost in transit through water pipeline bursts and leaks. In an
        era of water scarcity, we need to be able to deliver water efficiently to where it is needed most. That's why <strong>CIPPS&trade; WX100</strong> for water
        pipelines is designed to detect pipeline leaks even before they happen with our integrated smart hardware and software solution.
    </p>
    <p>
        As for the provision of water, we recognize is a fundamental human right. Where others see potential for 'water wars', we believe that genuine
        technological innovation and collaboration will help provide water wherever and whenever it is needed to the highest quality World Health Organization
        standards.
    </p>
    <p>
        That's why we are developing <strong>System 10</strong>, the world's first autonomous Nano Water Processing System to reclaim water at levels not thought
        possible uptil now.
    </p>
    <p>
        As we continue to roll out our product line, we will continue to seek out new challenges, to vision, to innovate and to disrupt.
    </p>
</div>
