<div class="container-fluid content-stuff">
  <div ng-controller="CarouselCtrl">
    <div>
      <uib-carousel interval="options.interval" no-wrap="options.noWrapSlides">
        <uib-slide ng-repeat="slide in options.slides" active="slide.active">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>{{slide.bigText}}</h4>
            <p>{{slide.text}}</p>
            <button type="button" class="btn btn-primary">read more</button>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>
  </div>
</div>

<div class="container home-wall-of-text">
  <div class="col-md-6">
    <h2>We are <span class="accent">Datatecnics</span></h2>
    <p>
      Datatecnics is a multi-award winning smart infrastructure company pioneering the way in the Industrial Internet of Things (IIOT).We are creating, developing, and commercializing technologies with the capability to transform the way the world interacts with its physical infrastructure. We change what is passive into truly smart infrastructure capable of autonomous communication delivering for our users substantial productivity, efficiency, and operational gains across the breadth of industry.
    </p>
    <p>
      Our disruptive innovations herald what we believe to be the first true breakthrough products in the IIOT space.
    </p>
    <p>
      These technologies will embed intelligence within critical infrastructure, protecting assets worth trillions of dollars and in doing so, will deliver a new era of economic growth and competitiveness in water, energy and beyond.
    </p>
    <p>
      With our founder’s 30 years of experience in delivering innovation, our solutions are unique, carefully designed and meticulously engineered ensuring maximal benefits and sustainability by unlocking previously untapped capabilities.
    </p>
  </div>
  <div class="col-md-6">
    <h2>Our values</h2>
    <div class="row" ng-repeat="ourValue in ourValues">
      <div class="col-md-2 value-icon">
        <img src="images/ic_twitter.png" alt="" class=""/>
      </div>
      <div class="col-md-10">
        <h4>{{ourValue.heading}}</h4>
        <p>{{ourValue.text}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container pretty-colors">
  <div class="row">
    <div class="col-md-4 pan pan-yellow">
      <h3>Connectivity</h3>
      <h4>IIOT</h4>
      <p>We help our clients harness and unlock the incredible power that connective IIOT technology offers.</p>
      <button type="button" class="btn btn-primary">read more</button>
    </div>
    <div class="col-md-4 pan pan-blue">
      <h3>Nanotechnology</h3>
      <h4>Integration</h4>
      <p>Nanotechnology has the potential to change the world. We think it’s time to turn that into reality.</p>
      <button type="button" class="btn btn-primary">read more</button>
    </div>
    <div class="col-md-4 pan pan-orange">
      <h3>Pipeline integrity assurance</h3>
      <h4>Zerofail Standard</h4>
      <p>Delivering 90% of water and 70% of oil & gas supplies, outdated pipelines can be transformed through our IIOT technologies.</p>
      <button type="button" class="btn btn-primary">read more</button>
    </div>
  </div>
</div>
