<div class="container home-wall-of-text">
    <h2>We are <span class="accent">Datatecnics</span></h2>
    <div class="row">
        <div class="col-md-6">
            <p>
                Datatecnics is a multi-award winning smart infrastructure company pioneering the way in the Industrial Internet of Things (IIOT).We are creating, developing, and commercializing technologies with the capability to transform the way the world interacts with its physical infrastructure. We change what is passive into truly smart infrastructure capable of autonomous communication delivering for our users substantial productivity, efficiency, and operational gains across the breadth of industry.
            </p>
            <p>
                Our disruptive innovations herald what we believe to be the first true breakthrough products in the IIOT space.
            </p>
            <p>
                These technologies will embed intelligence within critical infrastructure, protecting assets worth trillions of dollars and in doing so, will deliver a new era of economic growth and competitiveness in water, energy and beyond.
            </p>
            <p>
                With our founder’s 30 years of experience in delivering innovation, our solutions are unique, carefully designed and meticulously engineered ensuring maximal benefits and sustainability by unlocking previously untapped capabilities.
            </p>
        </div>
        <div class="col-md-6">
            <a class="twitter-timeline" href="https://twitter.com/Datatecnics" data-widget-id="678936458091233280">Tweets by @Datatecnics</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <!--<a class="twitter-timeline" href="https://twitter.com/Datatecnics" data-widget-id="678935394013040640">Tweets by @Datatecnics</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
        </div>
    </div>
</div>

<div class="container pretty-colors content-stuff">
    <div class="row">
        <div class="col-md-4 pan pan-yellow">
            <h3>Connectivity</h3>
            <h4>IIOT</h4>
            <p>We help our clients harness and unlock the incredible power that connective IIOT technology offers.</p>
            <a href="#iiot"><input type="button" class="btn btn-primary" value="READ MORE" /></a>
        </div>
        <div class="col-md-4 pan pan-blue">
            <h3>Nanotechnology</h3>
            <h4>Integration</h4>
            <p>Nanotechnology has the potential to change the world. We think it’s time to turn that into reality.</p>
            <a href="#nanotechnology"><input type="button" class="btn btn-primary" value="READ MORE" /></a>
        </div>
        <div class="col-md-4 pan pan-orange">
            <h3>Pipeline integrity assurance</h3>
            <h4>Zerofail Standard</h4>
            <p>Delivering 90% of water and 70% of oil & gas supplies, outdated pipelines can be transformed through our IIOT technologies.</p>
            <a href="#intelligent-pipelines"><input type="button" class="btn btn-primary" value="READ MORE" /></a>
        </div>
    </div>
</div>
