<div class="container home-wall-of-text">
    <h2>IIOT</h2>
    <p>
        90% of all the world's data has been produced in the last 2 years, and this will happen again over the next 2. We will help our clients harness and unlock
        the incredible power this offers.
    </p>
    <p>
        The Industrial Internet of Things (IIOT) promises to be the world's biggest technological revolution this century and will be considerably more potent in
        its effects than the already disruptive digital internet has been.
    </p>
    <p>
        It has been defined by Accenture as "A universe of intelligent industrial products, processes and services that communicate with each other and with people
        over a global network" and has been recently upgraded by McKinsey to be worth more than $3,900 billion by 2025 alone.
    </p>
    <p>
        These core facts belie the change that IIOT will bring to the world. It can best be compared to what the initial internet revolution brought us.
        Ground-breaking companies have helped transform the world's digital information and continue to do so in innovation hubs such as Silicon Valley. However,
        the world's physical infrastructure has not undergone a concurrent paradigm shift until now into digital connectivity.
    </p>
    <p>
        At Datatecnics, all our products contain fully-integrated IIOT technology that delivers substantial and meaningful commercial benefits for our clients.
        Ranging from monitoring to control, automation to in-built resiliency with truly intelligent software in a revolutionary hardware framework, the
        possibilities are compelling.
    </p>
</div>
