<div class="container home-wall-of-text">
  <h2>Intelligent Pipelines</h2>
    <p>
        Delivering 90% of our water supplies and over 70% of our Oil &amp; Gas, pipelines are truly the arteries of the world, the unrecognized hidden backbone of
        the global economy. Oft-neglected, they can be transformed through our IIOT technologies.
    </p>
    <p>
        <strong><u>Water</u></strong>
    </p>
    <p>
        In the water industry, a historic but mistaken perception that water is cheap has led to chronic under-investment, with the sector losing up to 50% of
        water in distribution. In an era of declining water tables, drying rivers, and depleted aquifers, we think it's time to change that.
    </p>
    <p>
        This water, in effect, represents the hidden 'third' source of water for our ecologically-stressed cities. We do not have to continue to keep extracting
        ever-more water from our freshwater supplies and seas - we can start conserving our already established water sources much better.
    </p>
    <p>
        Our research indicates that throughout the world, what is known in the industry as Non-Revenue Water (NRW) is much higher than it needs to be. This is not
        a dry scientific finding, in many of these cities, preventing breaches and bursts in water pipes would ensure for the first time that local governments
        could adequately meet the 2010 UN mandated Resolutions on the "Human Right to Water and Sanitation." Instead of forcing people to walk for miles, we could
        bring it to their doorstep; instead of rationing water, we could make it abundant; instead of people struggling to pay their bills, we can make it
        affordable. These are the opportunities our product <strong>CIPPS&trade; WX100</strong> offers.
    </p>
    <p>
        <strong>CIPPS&trade; WX100</strong>
        is the world's first system that through the use of intelligent smart materials and innovative electronics can directly monitor the condition of pipelines
        on a real-time basis. Alongside our complementary product <strong>System 10</strong>, <strong>CIPPS&trade; WX100</strong> will help make water abundant again
        wherever it is implemented. By monitoring bursts and leaks and even being able to predict them before they occur, they will become a thing of the past.
        Losses of 50% and above will drop significantly, offering large benefits for individuals and operators alike.<strong><u></u></strong>
    </p>
    <p>
        <strong><u>Energy</u></strong>
    </p>
    <p>
        The energy industry is the single largest sector in the world with a turnover of around $4 trillion every year. The prices we face as consumers at the gas
        pump may vary year on year, but regardless of the supply/demand differential that exists at any given moment, an overriding fact remains. Energy is
        ultimately the key enabler of all other industries worldwide. It is thus the undisputable cornerstone of the modern global economy.
    </p>
    <p>
        The future holds a myriad of exciting possibilities from hydrogen fuel cells to wind and tidal power. These will become increasingly valuable, but this
        cannot let us sideline the issues we face today.
    </p>
    <p>
        Within the sector, pipelines have historically been viewed as mere conduits for the distribution of hydrocarbons. In earlier decades, this supposition may
        have been accurate. Today however, that represents a glaring oversight within the energy community and a sizeable opportunity that requires astute
        solutions.
    </p>
    <p>
        At Datatecnics, we recognize that in the 21<sup>st</sup> century, over 2 million miles of extant pipes, representing $3 trillion in total replacement
        value, require considerable investment. As they age, corrode, and fail, they are simply not fit for purpose.
    </p>
    <p>
        At Datatecnics, we want to help make the energy industry part of the solution in overcoming our growing environmental challenges. We recognize that end
        users, operators, and local communities can no longer tolerate oil spills as part of the parcel of having a pipeline on their doorsteps, and rightly so. We
        want to make the world's pipelines environmentally friendly again.
    </p>
    <p>
        With <strong>CIPPS&trade; EX100</strong>, our revolutionary pipeline system, we will be able to predict spills before they occur and identify micro-leaks in real
        time. Instead of hundreds of leaks reported across the world every year, we want to create a truly '<strong>Zero-Fail</strong>' system. It is only through
        this in today's day and age that modern pipeline projects will be sanctioned by governments and survive in an environmentally conscious world.
    </p>
    <p>
        This is a game-changer in capability. Instead of reprocessed water being treated with harsh chemicals before being discharged into rivers, our solution has
        the capability to return water to its original pristine state, creating a genuinely circular water life cycle.
    </p>
    <p>
        <strong>System 10</strong>
        will be optimized to operate at peak efficiency using revolutionary IIOT technology and will operate in almost any wastewater environment, maximizing its
        global potential. This ranges from municipal and utility applications through to ground water treatments, greywater processing, energy production,
        commercial buildings, and other bulk user applications. We are also already investigating how we can best help NGOs maintain fresh water supplies where it
        is needed most in humanitarian emergencies.
    </p>
    <p>
        We aim to create a world in which clean, fresh water is easily accessible to all and will reduce the harmful environmental impact of current solutions. We
        believe we can achieve this with <strong>System 10</strong>, a true breakthrough in technology.
    </p>
</div>
