<div class="container home-wall-of-text">
    <h2>Investor Relations</h2>
    <p>
        Datatecnics vision is to become the world's leading Industrial Internet of Things (IoT) enterprise by 2025. We will strive to achieve this through
        continuing to innovate and commercializing our technologies based on CIPPS&trade;, our proprietary, patent protected IoT platform.
    </p>
    <p>
        We have begun by seeking to address the most significant unmet needs in the most significant of sectors, the water and energy industries. As we expand, we
        will seek out new challenges to build upon and complement our CIPPS&trade; IoT technology. We will disclose these as we discover new opportunities to offer
        compelling unique propositions meeting unmet needs.
    </p>
    <p>
        With the economic value of IoT forecast to exceed $3,900 billion by 2025, we recognize these needs will continue to grow and the requirements will become
        ever more urgent for industry. As enterprises seek to thrive in the new realities that IoT innovation offers, at Datatecnics we will equip our partners
        with the bespoke end-to-end solutions they need to succeed.
    </p>
    <p>
        These challenges of unlocking the potential of IoT offer a historic opportunity for innovative organizations such as Datatecnics to help build this new
        connected future. Through implementation of our intelligent pipelines, smart water purification systems, use of intelligent materials and beyond, we will
        be at the forefront of what promises to be the world's most pivotal sector of the 21<sup>st</sup> century.
    </p>
    <p>
        As we progress towards fulfilling our vision, we aim to keep our stakeholders, public and private investors fully informed about our publicly disclosed
        performance, operations and plans for the future.
    </p>
    <p>
        For investor relation enquiries, please email our Investment Relations team at <a href="mailto:IR@Datatecnics.com">IR@Datatecnics.com</a>.
    </p>
    <p>
        For corporate enquiries, please email us at <a href="mailto:Corporate@Datatecnics.com">Corporate@Datatecnics.com</a>.
    </p>
    <p>
        For details about our corporate governance and our board, please click here.
    </p>
    <p>
        For our latest publicly available news and press releases, please click here.
    </p>
    <p>
        For our terms &amp; conditions and use of this site, please click here.
    </p>
</div>
