<div class="container home-wall-of-text">
  <h2>
      Nanotechnology
  </h2>
    <p>
        Nanotechnology is fundamentally the study of how technological innovation at the smallest scale can enrich and better our lives. Till now, the chief
        beneficiary has been increases in computing speed and power. Society has benefited enormously from the drive to miniaturizing the scale of transistors
        (with a rough doubling every 18 months, known as Moore's Law). With this, every day smart phones are more powerful than the fastest super computers of just
        25 years ago.
    </p>
    <p>
        As we enter a new era, this innovation now shifts its focus towards affordability and the transformative power of smart materials to change our
        relationship with computing entirely.
    </p>
    <p>
        Datatecnics uses patented 'flexible electronics' technology which can effectively turn 3D computers into nanoscale 2-dimensional objects, which need very
        little power, are highly robust, affordable and most of all: Intelligent.
    </p>
    <p>
        Communicating with one another, our IIOT sensors form the bedrock of all of our technological innovation, underpinning System 10, CIPPS&trade; WX100 and CIPPS&trade;
        EX100.
    </p>
</div>
