<div class="container home-wall-of-text">
    <h2>Shareholder Services</h2>
    <p>
        Datatecnics endeavors to keep its shareholders informed and will provide relevant publicly disclosed information in this section.
    </p>
    <p>
        In the interim:
    </p>
    <p>
        For investor relation enquiries, please email our Investment Relations team at <a href="mailto:IR@Datatecnics.com">IR@Datatecnics.com</a>.
    </p>
    <p>
        For corporate enquiries, please email us at <a href="mailto:Corporate@Datatecnics.com">Corporate@Datatecnics.com</a>.
    </p>
</div>
