<div class="container home-wall-of-text">
    <h2>System 10</h2>
    <p>
        <strong>System 10</strong>
        is the world's first intelligent, autonomous 'Nano Water Processing System' (NWPS). We consider it to be generationally beyond all other water processing
        technology. <strong>System 10</strong> restores wastewater back to a state where it has economic, social, and commercial value, all to World Health
        Organization standards. It delivers unprecedented capability to reduce the water footprint of users by up to 90% through the efficient recycling of
        wastewater, at source, on demand.
    </p>
    <p>
        <strong>System 10</strong>
        has been designed and built with smart intelligent technologies embedded with future-proofing capabilities. This creates complete automation of the
        purification process without the need for human intervention. The process is further enhanced with real-time monitoring to ensure full visibility during
        the processing cycle.
    </p>
    <p>
        The systems are modular and scalable so that they can be rapidly and efficiently embedded into existing infrastructure for smooth parallel processing,
        leading to improvements in performance, optimizations, and load balance. Or if required, they can be commissioned as standalone units employed to
        complement or replace current processing operations.
    </p>
    <p>
        <strong>System 10 will deliver our hallmark 'Zero-Fail' to critical processes with our embedded award-winning CIPPS&trade; technology.</strong>
    </p>
    <h3><span class="accent">Capabilities</span></h3>
    <p>
        <strong>System 10</strong>
        possesses the capability to purify large volumes of water by utilizing our proprietary NWPS capabilities, smart materials, combined uniquely with
        established technologies. Working in unison, the entire process delivers class-leading refinement capabilities and energy performance. Uniquely, it
        achieves this with the use of <strong>zero</strong> <strong>chemicals</strong> and <strong>zero</strong> <strong>membranes</strong>, making    <strong>System 10</strong> a world-leading wastewater treatment technology.
    </p>
    <p>
        The outcomes are remarkable: <strong>System 10</strong> delivers healthy, balanced water that meets or exceeds World Health Organization standards,
        chemical-free, and with significant process and efficiency savings. It achieves this with incredibly destructive capabilities that eliminates 99.99% of
        bacteria and pathogens, clarifies and oxygenates the water, and removes odors on contact. Waste is minimal, germ-free, and returned safely back to the
        environment with no negative impact. Built with a zeal for social responsibility, the entire process delivered by <strong>System 10</strong> is clean,
        energy-efficient, and in harmony with nature; a truly revolutionary, sustainable, and compelling solution to global water management for future
        generations.
    </p>
    <p>
        <strong> </strong>
    </p>
    <h3><span class="accent">Operations</span></h3>
    <p>
        <strong>System 10</strong>
        reduces the need for large CapEx &amp; OpEx, delivering significant financial benefits to users. It operates either as a standalone unit or on a
        complementary basis for existing networks and critical water processing infrastructure. By being so versatile, <strong>System 10</strong> delivers
        significant efficiency savings from membranes, chemicals, and energy requirements to extending the life expectancy of treatment plants and facilities.    <strong>System 10</strong> has been specifically developed for use by large utility firms, municipal water companies, and volume water users across a range
        of industrial and commercial applications.
    </p>
    <p>
        The technology significantly increases clean and potable water yields, reduces stress on existing plants and infrastructure, and extends operational
        lifetimes, delivering vast cost savings in energy, chemical usage, membranes, maintenance, and operations. Designed as a low energy system, it operates
        under controlled flows at very low pressures, greatly reducing the risk to operators and plants. Built for maximum reliability System 10's quantum
        processing core has no moving parts, is fully automated and operates continuously without intervention to provide maximal performance at all times.
    </p>
    <h3><span class="accent">Industrial And Commercial Applications</span></h3>
    <p>
        Compelling solutions are being developed for many applications across industry wherever clean and potable water is essential to build, grow, and sustain
        business. Market-ready systems will be available for applications for bulk and volume water users such as utility companies, municipal water suppliers,
        hotels, and apartment buildings. We are designing System 10 to be truly multi-faceted and adaptable across all industries wherever clean and potable water
        is required.
    </p>
</div>
