
<div class="col-md-3"><h4><img src="./tmp/img/cat.png" width="30px" height="30px"/>&nbsp;Categories</h4></br>
  <div align="left">
 <h4 id="fps"> FPS </h4>
  <ul class="list-group" style="border: 1px solid #808080; border-radius: 8px; box-shadow: 3px 3px 1px #C2C2C2">
  <li class="list-group-item ul" ><a href="./battle.html"> Battlefield</a></li>
  <li class="list-group-item ul"><a href="./duty.html"> Call of Duty</a></li>
  <li class="list-group-item ul"><a href="./cs.html"> Counter Strike</a></li>
  </ul>
 <h4 id="mmo"> MMORPG</h4>
  <ul  class="list-group" style="border: 1px solid #808080; border-radius: 8px; box-shadow: 3px 3px 1px #C2C2C2" >
<li class="list-group-item ul"  ><a href="./aion.html"> Aion Online</a></li>
<li class="list-group-item ul"><a href="./cabal.html"> Cabal Online</a> </li>
<li class="list-group-item ul"><a href="./conquer.html"> Conquer Online</a></li>
<li class="list-group-item ul"><a href="./lineage.html"> Lineage 2</a></li>
<li class="list-group-item ul"><a href="./metin.html"> Metin 2</a></li>
<li class="list-group-item ul"><a href="./minecraft.html"> Minecraft</a></li>
<li class="list-group-item ul"><a href="./mu.html"> Mu Online</a></li>
<li class="list-group-item ul"><a href="./silkroad.html"> Silkroad Online</a></li>
<li class="list-group-item ul"><a href="./wow.html"> World of Warcraft</a></li>
</ul>
 <h4 id="str"> STRATEGY</h4>
 <ul class="list-group" style="border: 1px solid #808080; border-radius: 8px; box-shadow: 3px 3px 1px #C2C2C2">
 <li class="list-group-item ul"><a href="./command.html">Command & Conquer</a></li>
 <li class="list-group-item ul"><a href="./starcraft.html">StarCraft</a></li>
 <li class="list-group-item ul"><a href="./dota.html">Dota</a></li>
 <li class="list-group-item ul"><a href="./warcraft.html">Warcraft</a></li>
 <li class="list-group-item ul"><a href="./lol.html">League of Legends</a></li>
 
 </ul>
 
 </div>
  </div>