<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Datatecnics Corporation</title>

    <link href="app.css" rel="stylesheet">
  </head>
  <body>

    <div class="wrapper">
      <div class="main">
        <div class="container">
          <div class="row" style="padding-top: 12px">
            <a href="#home">
              <img src="images/img_logo.png" alt="" ng-href="#home"/>
            </a>
            <div class="pull-right copy-icons" ng-controller="MenuCtrl">
                <a target="_blank" href="https://www.facebook.com/Datatecnics/?ref=hl"><img src="images/ic_facebook.png" alt="facebook" /></a>
                <a target="_blank" href="https://twitter.com/Datatecnics"><img src="images/ic_twitter.png" alt="twitter" /></a>
                <a ng-href="{{menuItems[0].href}}"><img src="images/ic_phone.png" alt="" /></a>
                <a href="mailto:cs@datatecnics.com" target="_top"><img src="images/ic_mail.png" alt="" /></a>
            </div>
          </div>

          <div class="row menu" ng-controller="MenuCtrl">
            <div class="dropdown pull-right" ng-repeat="menu in menuItems">
              <a data-toggle="dropdown" ng-href="{{menu.href}}">{{menu.label}}</a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" ng-show="menu.items">
                    <li ng-repeat="menuItem in menu.items">
                        <em class="text-muted" ng-show="menuItem.info">{{menuItem.label}}</em>
                        <a ng-href="{{menuItem.href}}" ng-hide="menuItem.info">{{menuItem.label}}</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>

        <div class="container-fluid content-stuff">
          <div ng-controller="CarouselCtrl">
            <uib-carousel interval="options.interval" no-wrap="options.noWrapSlides">
              <uib-slide ng-repeat="slide in options.slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                  <h4>{{slide.bigText}}</h4>
                  <p>{{slide.text}}</p>
                  <a ng-href="{{slide.link}}"><input type="button" class="btn btn-primary" value="READ MORE"/></a>
                </div>
              </uib-slide>
            </uib-carousel>
          </div>
        </div>

        <div class="" ng-view></div>
      </div>
    </div>

      <footer class="footer">
          <div class="container-fluid subscribe">
              <div class="container">
                    <h4>A SMART INFRASTRUCTURE COMPANY</h4>
                    <p>
                        At Datatecnics, we firmly believe in a strong, defining philosophy to guide all our projects and endeavors.
                    </p>
              </div>
          </div>
          <div class="container-fluid copyright">
              <div class="container">
                  <div class="row">
                      <div class="col-md-3">
                          <img src="images/img_logo_footer.png" class="img-responsive" alt="" />
                      </div>
                      <div class="copy-text col-md-7">
                          <span>Copyright© 2010-2015, Datatecnics Corporation: All Rights Reserved.</span>
                      </div>
                      <div class="copy-icons col-md-2">
                          <div class="pull-right" ng-controller="MenuCtrl">
                              <a target="_blank" href="https://www.facebook.com/Datatecnics/?ref=hl"><img src="images/ic_facebook_footer.png" alt="facebook" /></a>
                              <a target="_blank" href="https://twitter.com/Datatecnics"><img src="images/ic_twitter_footer.png" alt="twitter" /></a>
                              <a ng-href="{{menuItems[0].href}}"><img src="images/ic_phone_footer.png" alt="" /></a>
                              <a href="mailto:cs@datatecnics.com" target="_top"><img src="images/ic_mail_footer.png" alt="" /></a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
