$icon-font-path: '../../bower_components/bootstrap-sass/assets/fonts/bootstrap/'
$background-color: #fafafa
$text-color: #242021
$accent-color: #36939a
$teal-color: #47959f

$btn-primary-bg: $teal-color

@import url(//fonts.googleapis.com/css?family=Ubuntu)
$font-family-sans-serif:  "Ubuntu", sans-serif !default

@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss'

.container
  text-align: justify

.container-fluid
  padding-left: 0px !important
  padding-right: 0px !important

body
  // padding-top: 76px

.carousel-control.right
  background-image: none !important

.carousel-control.left
  background-image: none !important

.accent
  color: $accent-color

.subscribe
  color: #ffffff
  background-color: $teal-color

.copyright
  color: #ffffff
  background-color: #595959

.pan
  padding: 15px
  h3
    color: white

.pan-yellow
  background-color: #cdcd5d

.pan-blue
  background-color: #a3cacf

.pan-orange
  background-color: #ffa36a

.content-stuff
  padding-bottom: 50px
