$accent-color: #36939a
$gray-color: #595959
$teal-color: #47959f
$footer-height: 211px

@import url(//fonts.googleapis.com/css?family=Ubuntu)
$font-family-sans-serif:  "Ubuntu", sans-serif !default
$icon-font-path: '../../bower_components/bootstrap-sass/assets/fonts/bootstrap/'
$background-color: #fafafa
$text-color: #242021
$border-radius-base: 0px
$btn-border-radius-base: 45px
$input-border-radius: 45px
$btn-primary-bg: $teal-color
$btn-default-bg: $gray-color
$btn-default-border: $gray-color
$btn-default-color: $background-color

@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss'

h1, h2, h3, h4, h5, h6, button
  text-transform: uppercase

::selection
  background: $teal-color

::-moz-selection
  background: $teal-color

html, body
  height: 100%

.container
  text-align: justify

.container-fluid
  padding-left: 0px !important
  padding-right: 0px !important

.wrapper
  min-height: 100%

.main
  overflow: auto
  padding-bottom: $footer-height

.footer
  position: relative
  margin-top: -$footer-height
  height: $footer-height
  clear: both

.pretty-colors
  h3
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
  p
    min-height: 70px

.menu
  a
    text-decoration: none !important
    font-weight: normal
    &:hover, &:focus
      color: $teal-color

.home-wall-of-text
  @extend .content-stuff
  h2
    padding-bottom: 50px

  .value-icon
    text-align: right
    img
      padding-top: 12px

  .breather-right
    padding-right: 45px

  .breather-left
    padding-left: 45px

.carousel-control.right
  background-image: none !important

.carousel-control.left
  background-image: none !important

.carousel-indicators li
  border: 1px solid $gray-color
  background-color: $gray-color

.carousel-indicators li.active
  background-color: $accent-color

.carousel-caption
  padding: 15px
  top: 100px
  bottom: auto
  max-width: 400px
  background-color: rgba( $gray-color, .7 )
  text-align: left

  p
    text-align: justify

.accent
  color: $accent-color

.subscribe
  padding-bottom: 25px
  padding-top: 25px
  color: #ffffff
  background-color: $teal-color
  form
    padding-top: 12px

.copy-icons
  padding-top: 24px

.copyright
  padding-bottom: 25px
  padding-top: 25px
  color: #ffffff
  background-color: $gray-color

  .copy-text
    padding-top: 16px

  .copy-icons
    padding-top: 8px

.pan
  padding: 15px
  h3
    color: white

.pan-yellow
  background-color: #cdcd5d

.pan-blue
  background-color: #a3cacf

.pan-orange
  background-color: #ffa36a

.content-stuff
  padding-bottom: 50px

.dropdown
  padding-bottom: 10px
  padding-left: 10px
  padding-right: 10px
  a
    color: $text-color

ng-map
  height: 400px

.carousel
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
